<!DOCTYPE html>
<html>
    <head>
        <title>{{ title }}</title>
        <link rel="stylesheet" href="/static/blueprint/screen.css" type="text/css" media="screen, projection">
        <link rel="stylesheet" href="/static/blueprint/print.css" type="text/css" media="print">	
        <!--[if lt IE 8]><link rel="stylesheet" href="/static/blueprint/ie.css" type="text/css" media="screen, projection"><![endif]-->
        <link rel="stylesheet" href="/static/default.css" type="text/css" media="all">	
    </head>
    <body>
        <div class="container">
            {% block container_override %}
	        <div id="header" class="span-18">
                {% block header %}
		        <h1>ODEN</h1>
                {% end %}
	        </div>
            <div id="header_right" class="span-6 last right">
                <a href="/user/edit">Account settings</a> | <a href="/user/edit">Edit profile</a> | <a href="/logout">Sign out</a>
            </div>
	        <div id="menu" class="span-24 last">
                {% block menu %}
                <a href="/aspects/all">All Aspects</a>
                {% end %}
	        </div>

            {% block content_override %}
	        <div class="span-20">
            {% block main %}
	        <div class="span-4">
		        {% block left %}
		        Left sidebar
                {% end %}
	        </div>
	        <div class="span-16">
		        {% block center %}
                Centerpiece
                {% end %}
	        </div>
            {% end %}
	        </div>
	        <div class="span-4 last">
		        {% block right %}
		        Right sidebar
                {% end %}
	        </div>	
            {% end %}

	        <div class="span-24 last">
		        {% block footer %}
		        Footer
                {% end %}
	        </div>
            {% end %}
        </div>
    </body>
</html>
