{% extends "application.html" %}
{% block main %}
    <h1> All Aspects </h1>
{% end %}
{% block right %}
    <h3>Your aspects</h3>
    <table>
    {% for aspect in user_params['aspects'].clone() %}
        <tr><td>{{ aspect[u'name'] }}</td><td><a href="/aspects/remove/{{ aspect[u'_id'] }}">(remove)</a></td></tr>
    {% end %}
    </table>
    <br />
    <hr />
    <br />
    <h3>New aspect</h3>
    {% if status %}<p>{{ status }}</p>{% end %}
    <form action="/aspects/new" method="post" name="new_aspect_form" id="new_aspect_form">
        {{ xsrf_form_html() }}
        <input name="name" id="name" /><br />
        <input type="submit" value="Create" />
    </form>
{% end %}
