# Oden
# Copyright (C) 2010 Robin Nilsson <robinnilsson@gmail.com>
#
# This is released under GNU aGPL, see COPYRIGHT for full license.

# General configuration
# ---------------------------------------------------------------

# Settings you probably want to change
pod_url             =   'http://localhost:8888/'
pod_domain          =   'localhost'
port                =   8888
cookie_secret       =   '61oETzKXQAGaYdkL5gEmGeJJFuYh7EQnp2XdTP1o/Vo='

# Settings you might need to edit
mongo_host          =   'localhost'
mongo_port          =   27017

# Settings you could edit, if you really want to
mongo_db            =   'oden-dev'

# Settings you probably don't want to edit
public_dir          =   'static'
xsrf_cookies        =   True
login_url           =   '/login'


# Route configuration
# ----------------------------------------------------------------
from handlers import public, aspects, user

routes = [

# Front page is redirected to /aspects/all
(r"/", aspects.All),

# Login (TODO: Rename to outside or something like that)
(r"/login/?", public.Login),
(r"/logout/?", public.Logout),
(r"/register/?", user.New),

# Aspect
(r"/aspects/all/?", aspects.All),
(r"/aspects/new/?", aspects.Create),
(r"/aspects/remove/([0-9A-Fa-f]+)/?", aspects.Remove),
(r"/aspects/([0-9A-Fa-f]+)/?", aspects.Show),

# Edit account
(r"/user/edit/?", user.Edit),

# Public
(r"/.well-known/host-meta", public.HostMeta),
(r"/webfinger", public.Webfinger),
(r"/hcard/users/([0-9A-Fa-f]+)/?", public.Hcard),

] # end routes
