/* Layout */
body {
    padding-top:        20px;
}

#menu {
    background-color:   #EFEFEF;
    padding:            7px;
    padding-left:       10px;
    -moz-border-radius: 5px;
    border-radius:      5px;
    -moz-box-shadow:    2px 2px 3px #DDD;
    -webkit-box-shadow: 2px 2px 3px #DDD;
    box-shadow:         2px 2px 3px #DDD;
    border:             1px solid #CCC;
    margin-bottom:      25px;
}

#footer {
    margin-top:         40px;
    color:              #BBB;
}

/* Forms */
label {
    width:              140px;
    text-align:         right;
    display:            inline-block;
    padding-right:      10px;
}

.form_indent {
    margin-left:        150px;
}

.form_button {
    margin-left:        220px;
    width:              88px;
}
.form_descriptor {
    width:              150px;
    text-align:         right;
    color:              #666;
    font-size:          0.8em;
}

input {
    width:              150px;
    border:             1px solid #CCCCCC;
}

/* Typography */

.right {
    text-align:right;
}
.center {
    text-align:center;
}
